.header {
  padding: 10rem 0 4.3rem 0;
}

.header h1 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 9px;
  color: #333;
}

.header h2 {
  font-size: 18px;
  font-weight: 200;
  color: #666;
  letter-spacing: -1px;
}

.header .strikethrough {
  text-decoration: line-through;
  text-decoration-color: red;
  color: #333;
}
