.explanation-text {
  padding: 2rem;
}

.explanation-text p {
  line-height: 1.8;
  color: #555;
  margin-bottom: 1rem;
}

.explanation-text p:last-child {
  margin-bottom: 0;
}

.explanation-text ul {
  margin: 1rem 0;
  padding-left: 1.5rem;
}

.explanation-text li {
  line-height: 1.8;
  color: #777;
  margin-bottom: -3px;
  font-size: 0.95rem;
}

.explanation-text-positive li {
  list-style-type: "\2713";
  padding-left: 0.5rem;
}

.explanation-text-positive li::marker {
  color: #22c55e;
}

.explanation-text-negative li {
  list-style-type: "\2715";
  padding-left: 0.5rem;
}

.explanation-text-negative li::marker {
  color: #ef4444;
}

.explanation-text li:last-child {
  margin-bottom: 0;
}

.explanation-text strong {
  font-weight: 600;
  color: #333;
}
